<template>
<div>
  <body class="app header-fixed sidebar-md-show sidebar-fixed">
    <header class="app-header navbar">
      <button
        class="navbar-toggler sidebar-toggler d-lg-none mr-auto"
        type="button"
        data-toggle="sidebar-show"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="https://coreui.io">
        <img
          src="https://coreui.io/docs/assets/brand/logo.svg"
          width="89"
          height="25"
          alt="CoreUI Logo"
        >
      </a>
    </header>
    <div class="app-body">
      <div class="sidebar">
        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">Squads</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <router-link :to="{name: 'formSquad', path: '/formSquad'}" class="nav-link">Form Squad</router-link>
                </li>
                <li class="nav-item">
                  <router-link :to="{name: 'listSquads', path: '/listSquads'}" class="nav-link">List Squad</router-link>
                </li>                
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <main class="main">
        <router-view/>
      </main>
    </div>
    <footer class="app-footer">
      <!-- Footer content here -->
    </footer>
  </body>
</div>
</template>

<script>
export default {
  components: {}
};
</script>