<template>
  <div>
    <form enctype="multipart/form-data" role="form" @submit.prevent="update">
      <div class="form-group">
        <label>Nama Panjang</label>
        <input
          type="text"
          class="form-control"
          name="fullname"
          v-model="squad.fullname"
          placeholder="Masukan Nama Panjang di Sini"
        >
      </div>
      <div class="form-group">
        <label>Nama Panggilan</label>
        <input
          type="text"
          class="form-control"
          name="nickname"
          v-model="squad.nickname"
          placeholder="Masukan Nama Panggilan di Sini"
        >
      </div>
      <div class="form-group">
        <label>Email address</label>
        <input
          type="email"
          class="form-control"
          name="email"
          v-model="squad.email"
          placeholder="name@example.com"
        >
      </div>
      <div class="form-group">
        <label>Kontak</label>
        <input
          type="text"
          class="form-control"
          name="contact"
          v-model="squad.contact"
          placeholder="Masukan Kontak Panggilan di Sini"
        >
      </div>
      <div class="form-group">
        <div v-if="showImage">
          <img :src="image.previewPhoto" class="uploading-image" width="500" height="500">
        </div>
        <input
          type="file"
          accept="image/*"
          id="filename"
          name="filename"
          class="form-control-file"
          @change="onFileChange"
        >
      </div>
      <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "editSquad",
  data() {
    return {
      squad: {},
      showImage: false,
      image: {
        previewPhoto: "",
        filename: ""
      }
    };
  },
  created() {
    axios.get(`api/squads/${this.$route.params.id}/edit`).then(res => {
      this.squad = res.data;
    });
  },
  methods: {
    ...mapActions(["updateSquad"]),
    update(e) {
      e.preventDefault();
      const fileInput = document.querySelector("#filename");
      let formData = new FormData();
      formData.append("id", this.$route.params.id);
      formData.append("fullname", this.squad.fullname);
      formData.append("nickname", this.squad.nickname);
      formData.append("email", this.squad.email);
      formData.append("contact", this.squad.contact);
      formData.append("filename", fileInput.files[0]);
      formData.append("_method", "PUT");
      this.updateSquad(formData);
    },
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.image.filename = files[0];
      this.createImage(files[0]);
    },
    createImage(file) {
      this.showImage = true;
      const image = file;
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = e => {
        this.image.previewPhoto = e.target.result;
      };
      this.image.filename = image.name;
    }
  }
};
</script>

<style>
</style>
