<template>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <form enctype="multipart/form-data" role="form" @submit.prevent="store">
            <div class="form-group">
              <label>Nama Panjang</label>
              <input
                type="text"
                class="form-control"
                name="fullname"
                v-model="forms.fullname"
                placeholder="Masukan Nama Panjang di Sini"
              >
            </div>
            <div class="form-group">
              <label>Nama Panggilan</label>
              <input
                type="text"
                class="form-control"
                name="nickname"
                v-model="forms.nickname"
                placeholder="Masukan Nama Panggilan di Sini"
              >
            </div>
            <div class="form-group">
              <label>Email address</label>
              <input
                type="email"
                class="form-control"
                name="email"
                v-model="forms.email"
                placeholder="name@example.com"
              >
            </div>
            <div class="form-group">
              <label>Kontak</label>
              <input
                type="text"
                class="form-control"
                name="contact"
                v-model="forms.contact"
                placeholder="Masukan Kontak Panggilan di Sini"
              >
            </div>
            <div class="form-group">
              <div v-if="showImage">
                <img :src="forms.previewPhoto" class="uploading-image" width="500" height="500">
              </div>
              <input
                type="file"
                accept="image/*"
                id="filename"
                name="filename"
                class="form-control-file"
                @change="onFileChange"
              >
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import listSquads from './listSquads';

export default {
  name: "formSquad",
  components: {
    listSquads
  },
  data: function() {
    return {
      showImage: false,
      forms: {
        fullname: "",
        nickname: "",
        email: "",
        contact: "",
        filename: "",
        previewPhoto: "",
        isInitial: ""
      }
    };
  },
  methods: {
    ...mapActions(['addSquad']),
    store(e) {
      e.preventDefault();
      const fileInput = document.querySelector( '#filename' );
      let formData = new FormData();
      formData.append("fullname", this.forms.fullname);
      formData.append("nickname", this.forms.nickname);
      formData.append("email", this.forms.email);
      formData.append("contact", this.forms.contact);
      formData.append("filename",fileInput.files[0]);
      this.addSquad(formData);

    },
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.filename = files[0];
      this.createImage(files[0]);
    },
    createImage(file) {
      this.showImage = true;      
      const image = file;      
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = e => {        
        this.forms.previewPhoto = e.target.result;
      };
      this.forms.filename = image.name;
    }
  },
};
</script>
