<template>
<div>
  <table width="100%" class="table table-striped">
    <thead>
      <tr>
        <td>Fullname</td>
        <td>Nickname</td>
        <td colspan="2">Action</td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="squads in getAllSquad" :key="squads.id_squad">
        <td>{{ squads.fullname }}</td>
        <td>{{ squads.nickname }}</td>
        <td><button @click="deleteSquad(squads.id_squad)" class="btn btn-danger">Delete</button>
        <router-link :to="{name:'editSquad', params: {id: squads.id_squad}}" class="btn btn-primary">Edit</router-link>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: "listSquads",
  computed: {
    ...mapGetters(['getAllSquad'])
  },
  methods: {
    ...mapActions(['fetchSquads','deleteSquad','editSquad']),
  },
  created() {
    this.fetchSquads();
  }
}
</script>

<style>

</style>
  